.linkTitulo {
    text-decoration: none;
    color: black;
}

.linkTitulo:hover {
    text-decoration: none;
	color: #1351b4;
}


.elementor-8754 .elementor-element.elementor-element-fd3e4c0 .eael-advance-tabs .eael-tabs-nav > ul li.active {
    background-color: #0c326f !important;
}


.elementor-8754 .elementor-element.elementor-element-fd3e4c0 .eael-advance-tabs .eael-tabs-nav > ul li i {
    color: #0c326f;
}

.elementor-8754 .elementor-element.elementor-element-fd3e4c0 .eael-advance-tabs .eael-tabs-nav > ul li:after {
    border-top-color: #0c326f !important;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header.active {
    background-color: #0c326f !important;
}

.elementor-12602 .elementor-element.elementor-element-dfa7abd .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle {
    color: #0c326f !important;
}

.elementor-12602 .elementor-element.elementor-element-dfa7abd .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon {
    color: #0c326f !important;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover {
    background-color: #0c326f !important;
}

.eael-advance-tabs .eael-tabs-nav>ul li:hover, .eael-advance-tabs .eael-tabs-nav>ul li:hover {
    background-color: #0c326f !important;
}

.elementor-8754 .elementor-element.elementor-element-cb00342:not(.elementor-motion-effects-element-type-background), .elementor-8754 .elementor-element.elementor-element-cb00342 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ededed !important;
}

.elementor-8754 .elementor-element.elementor-element-d6fa19e .elementor-heading-title {
    color: #333 !important;
    text-shadow: none !important;
}

.elementor-8754 .elementor-element.elementor-element-2cfb029 {
    color: #333 !important;
    font-weight: 400 !important;
}

.elementor-8754 .elementor-element.elementor-element-d9771dc .elementor-heading-title {
    color: #333 !important;
}

.elementor-8754 .elementor-element.elementor-element-202d0e0 .elementor-heading-title {
    color: #333 !important;
}

.elementor-8754 .elementor-element.elementor-element-0751a83 {
    color: #333 !important;
}

.elementor-8754 .elementor-element.elementor-element-809c256 .elementor-heading-title {
    color: #333 !important;
}

.elementor-8754 .elementor-element.elementor-element-1858851 {
    color: #333 !important;
    font-size: 17px;
    font-weight: 300;
}







